<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SellAvi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <!--<provider invariantName="My.Invariant.Name" type="MyProvider.MyProviderServices, MyAssembly" />-->
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
      <provider invariantName="System.Data.SqlServerCe.3.5" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />

    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="AvitoModel" connectionString="Data Source=AvitoBase.sdf" providerName="System.Data.SqlServerCe.4.0" />
    <!--<add name="SchoolDBConnectionString"
        connectionString="Data Source=.;Initial Catalog=SchoolDB-ByConnectionString;Integrated Security=true"
        providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SqlServerCe" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.1, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
  <userSettings>
    <SellAvi.Properties.Settings>
      <setting name="CaptchaIsAutomatic" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CaptchaToken" serializeAs="String">
        <value />
      </setting>
      <setting name="CaptchaTimeOut" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="PublicationTimeOut" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="PublicationSkipErrors" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PublicationCommonUserRegion" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ParserPolling" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ParserDownloadImages" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ParserDownloadPhones" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ParserTrimHtml" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ParserShowErrors" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CaptchaTrials" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="WebClientAgent" serializeAs="String">
        <value>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/69.0.3497.100 Safari/537.36</value>
      </setting>
      <setting name="ParserAllowDuplicates" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ActivationTimeOut" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="ActivationPagesNum" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="TorExitNodes" serializeAs="String">
        <value>{RU},{UA},{KZ}</value>
      </setting>
      <setting name="TorInPriority" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ProxyServer" serializeAs="String">
        <value>127.0.0.1:8080</value>
      </setting>
      <setting name="ProxyLogin" serializeAs="String">
        <value />
      </setting>
      <setting name="ProxyPassword" serializeAs="String">
        <value />
      </setting>
      <setting name="ParserTrimPrice" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PublicationPhotoLimit" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="ParserPagesNum" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="TorCompatibility" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ActivationPackage" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MessagePolling" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="MessageDuplicateCheck" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MessageSocketPing" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="MessageInterval" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="MessageDefaultReply" serializeAs="String">
        <value>Если задание слишком сложное обращайтесь по телефону  8(812)905-33-51 </value>
      </setting>
      <setting name="MessageMailingStack" serializeAs="String">
        <value />
      </setting>
      <setting name="TelegramNumberToAuthenticate" serializeAs="String">
        <value />
      </setting>
      <setting name="TelegramRecipientId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WebClientTimeOut" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="PublicationDescLimit" serializeAs="String">
        <value>3000</value>
      </setting>
    </SellAvi.Properties.Settings>
  </userSettings>
</configuration>